.cart-summary-con {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.summary-head {
  color: #616e7c;
  font-size: 22px;
  padding: 0px;
  margin: 0px;
}
.summary-span {
  font-size: 28px;
  color: #171f46;
}
.summary-para {
  color: #616e7c;
  font-size: 14px;
  font-weight: 600;
  margin: 0px;
  margin-bottom: 20px;
}
.summary-checkout-btn {
  color: #ffffff;
  font-size: 10px;
  background-color: #0b69ff;
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
}
